<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.1/phpunit.xsd"
  bootstrap="tests/bootstrap.php">

  <testsuites>
    <testsuite>
      <directory>tests/</directory>
      <exclude>tests/moka/readme</exclude>
      <exclude>tests/moka/php7</exclude>
    </testsuite>

    <testsuite name="php7">
      <directory phpVersion="7" phpVersionOperator=">=">tests/moka/readme</directory>
      <directory phpVersion="7" phpVersionOperator=">=">tests/moka/php7</directory>
    </testsuite>
  </testsuites>

</phpunit>